@media(min-width: 992px){
	.partner-carousel .item.eset{
	  padding-right: 15px;
	}
	.partner-carousel .item.cns{
		padding-left: 20px;
	}
}

@media(max-width: 1369px){
	.cat-nav{
		font-size: 28px;
	}
}

@media(max-width: 1299px){
	.telephone{
		padding-top: 30px;
	}
	.cat-nav ul{
		display: block;
	}
	.cat-nav li{
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
	}
}

@media(min-width: 992px) and (max-width: 1191px){
	.card-text{
	  margin-left: -185px;
	  margin-top: -100px;
	  height: 200px;
	  width: 370px;
	}
	.card-text .small-title{
		font-size: 26px;
	}
	.card-text .title{
		font-size: 53px;
	}
}

@media(max-width: 991px){
	.nav{
		padding-right: 0;
		text-align: left;
		padding-left: 15px;
	}
	.advantages{
		padding: 0;
	}
	.telephone{
		text-align: center;
	}
	.advantages-block{
		font-size: 22px;
	}
	.single-card-img{
		text-align: center;
		padding:0;
		margin-bottom: 20px;
	}
	.single-card{
		text-align: center;
	}
	.single-card{
		padding:0;
	}
	.contact-text{
		margin: 20px 0;
	}
	.contact-form{
		padding-left: 0;
	}
	.choise-block .col-xs-5{
		padding-left: 0;
	}
	.baslet-form{
		margin-bottom: 30px;
	}
}


@media(max-width: 767px){
	.hidden-xs{
		display: none !important;
	}
	.advantages-block{
		height: auto;
		margin-bottom: 50px;
	}
	.slide-img{
		height: 300px;
		padding-left: 35px;
		padding-top: 125px;
	}
	.slide-text{
		font-size: 34px;
	}
	.nav{
		display: none;
	}
	.contacts{
		padding: 0;
	}
	.contact-text{
		text-align: center;
	}
	.adress{
		text-align:center;
	}
	.basket{
		padding:0;
	}
	.sidebar{
		width: 250px;
		left: -240px;
	}
	.left-menu{
		padding-left: 40px;
		font-size: 22px;
	}
	.header-block{
		padding: 0;
	}
	.telephone{
		font-size: 38px;
	}

	.partner-carousel{
		padding: 0 20px;
	}
	.btn.prev{
		left: 0;
	}
	.btn.next{
		right: 0;
	}
	.foot-list{
		width: 100%;
		float: none;
		text-align: center;
	}
	.foot-search{
		float: none;
		margin: auto;
		padding-top: 10px;
	}
	.foot-list .left-block{
		float: none;
		width: auto;
	}
	.foot-list .right-block{
		float: none;
		width: auto;
	}
	.footer-block{
		padding: 0;
	}
	.cat-nav{
		font-size: 24px;
	}
	.filter{
		padding-left: 20px;
		padding-right: 20px;
	}
	.filter a{
		height: auto;
		line-height: 1.1;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.cat-nav li{
		display: block;
		text-align: center;
	}
	.cat-nav{
		padding-left: 0;
		padding-right: 0;
	}
	.single-card .title{
		font-size: 26px;
	}
	.single-card .text{
		font-size: 16px;
	}
	.single-card .text{
		height: auto;
		margin-bottom: 20px;
	}
	.card-text{
	  margin-left: -185px;
	  margin-top: -100px;
	  height: 200px;
	  width: 370px;
	  -webkit-border-radius: 30px;
  		border-radius: 30px;
	}
	.card-text .small-title{
		font-size: 26px;
	}
	.card-text .title{
		font-size: 53px;
	}

}

@media(max-width: 480px){
	.single-card .title{
		font-size: 22px;
	}
	.slide-text{
		font-size: 20px;
	}
	.slct,
	.drop{
		font-size: 14px;
	}
	.slide-img{
		height: 250px;
		padding-left: 10px;
		padding-top: 100px;
	}
	.single-card,
	.single-card:last-child{
		margin-bottom: 30px;
	}
	.single-card-icon li a{
		padding-left: 15px;
		padding-right: 15px;
	}
	.card-text{
	  margin-left: -125px;
	  margin-top: -65px;
	  height: 130px;
	  width: 250px;
	  -webkit-border-radius: 20px;
  		border-radius: 20px;
  		border-width: 3px;
	}
	.card-text .small-title{
		font-size: 18px;
	}
	.card-text .title{
		font-size: 36px;
	}
}